.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
/.yarn
/src-tauri
/.vscode
/android

static/fonts
/unused_fonts

.yarn/*
!.yarn/releases
!.yarn/plugins

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
