@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url("/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans/OpenSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
  font-weight: 700;
}
