@import "./fonts.css";

*,
*::before,
*::after {
  border-color: theme("colors.primary.DEFAULT");
}

html,
body {
  overflow-x: hidden !important;
}

:root {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: theme("fontFamily.primary");
  color: theme("colors.neutral.900");
  background-color: theme("colors.neutral.50");
  position: relative;
}
